/* You can add global styles to this file, and also import other style files */
@import '../node_modules/leaflet-draw/dist/leaflet.draw.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/leaflet-geocoder-mapzen/dist/leaflet-geocoder-mapzen.min.css';

.toggle_menu{
	position: fixed;
	padding: 15px 20px 15px 15px;
	margin-top: 10px;
	color: white;
	cursor: pointer;
	background-color: #648B79;
	z-index: 1000000;
	font-size: 2em;
	opacity: 0;
}

.toggle_menu:hover{
	background-color: #f45342;
}

#edit_labels{
	width:100px;
	text-align: center;
	text-decoration: none;
}

.sidebar_menu{
	z-index: 5;
	position: fixed;
	width: 50px;
	overflow: hidden;
	height: 100%;;
	background-color: rgba(17, 17, 17, 0.9);
	opacity: 0.9;
	transition: all 0.4s ease-in-out;
}


.sidebarleft_menu{
	z-index: 5;
	position: fixed;
	width: 250px;
	right:0;
	margin-right:0;
	overflow: hidden;
	height: 98vh;;
	background-color: rgba(17, 17, 17, 0.9);
	opacity: 0.9;
	transition: all 0.4s ease-in-out;
}

.fa-chevron-circle-left{
	float: right;
	right: 10px;
	top: 10px;
	opacity: 0.4;
	cursor: pointer;
	position: absolute;
	color: white;
	transition: all 0.4s ease-in-out;
}

.fa-chevron-circle-left:hover{
	opacity: 0.7;
	color: #f45342;
}

.fa-circle{
	float: right;
	right: 10px;
	top: 50px;
	opacity: 0.4;
	cursor: pointer;
	position: absolute;
	color: white;
	transition: all 0.4s ease-in-out;
}

.boxed_item{
	font-family: 'Open Sans';
	font-weight: 200;
	padding: 10px 20px;
	display: inline-block;
	border: solid 2px white;
	box-sizing: border-box;
	font-size: 22px;
	color: white;
	text-align: center;
	margin-top: 70px;
}

.logo_bold{
	font-weight: 800;
}

.logo_title{
	color: white;
	font-family: 'Open Sans';
	font-weight: 200;
	font-size: 12px;
	text-align: center;;
	padding: 5px 0;
}

.navigation_selection{
	margin: 20px 0;
	display: block;
	width: 200px;
	margin-left: 25px;
}

.navigation_item{
	font-weight: 200;
	font-family: 'Open Sans';
	color: white;
	padding: 12px 0;
	box-sizing: border-box;
	font-size: 14px;
	color: #D8D8D8;
	border-bottom: solid 1px #D8D8D8;
	transition: all 0.4s ease-in-out;
}

.navigation_item:hover{
	color: white;
	font-weight: bold;
	border-left: solid 1px #f45342;
	transition: all 0.4s ease-in-out;
	text-indent: 20px;
}

.boxed_item_smaller{
	font-size: 12px;
	color: #D8D8D8;
	width: 200px;
	transition: all 0.4s ease-in-out;
	cursor: pointer;
	border-width: 1px;
	margin: 0 0 20px 0;
}

.boxed_item_smaller:hover{
	background-color: white;
	color: #111;
	transition: all 0.4s ease-in-out;
}

.impressum{
	height:inherit;
	background-color: black;
	min-width: 40px;
	text-align: center;
	margin-top: 150px;
	color: white;
	font-weight: lighter;
	font-size: 12px;
	padding-top: 100px;
}

.impressum:hover{
	background-color: white;
	color: #f45342;
	transition: all 0.4s ease-in-out;
}

.hide_menu{
	margin-left: -250px;
}

.opacity_one{
	opacity: 1;
	transition: all 0.4s ease-in-out;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}


.markersdetails {
	text-align: left;
	
}

.markersdetails .info{
	font-weight: 200;
	font-family: 'Open Sans';
	padding: 12px 0;
	box-sizing: border-box;
	font-size: 13px;
	color: darkgrey;
	border-bottom: solid 1px #D8D8D8;
	transition: all 0.4s ease-in-out;
	cursor: pointer;
	text-decoration: none;
}

#deleteMarker{
	cursor: pointer;
}

#deleteMarker:hover{
	color: orangered;
}



.markersdetails .info span {
	text-decoration: none;
	display: inline-block;
}

.markersdetails .info:hover{
	color: black;
	text-decoration: none;
}

.fa-times-circle:hover, .fa-plus-circle:hover, .fa-address-card:hover{
	color: #f45342;
	transition: all 0.4s ease-in-out;
}

.leaflet-popup-content-wrapper {
	border-radius:0;
	box-shadow: 0 0 35px rgba(0, 0, 0 0.5);
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
	padding:5px;
	margin: 5px;
}

.leaflet-popup-tip-container {
	color:blue;
	display: none;
}

.leaflet-bottom.leaflet-left {
	
}

.leaflet-draw-actions a {
    background-color: #919187;
    border-left: 1px solid #AAA;
    color: #FFF;
    font: 11px/19px "Helvetica Neue", Arial, Helvetica, sans-serif;
    line-height: 28px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 28px;
}


path.area {
    fill: lightsteelblue;
    stroke-width: 0;
}

g #tips {
  color:green;
}